  html, body, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  ul {
    list-style: none;
  }

  .group:after {
    content: "";
    clear: both;
    display: block;
  }

  body {
    color: black;
    background: white;
    font-family: sans-serif;
  }


  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin: 30px;
  }

  .grid {
    margin: 30px auto;
    width: 540px;
    border: 5px solid black;
/*    background: url("cat.jpg") no-repeat center;
    background-size: cover;*/
     }

  .grid > li {
    float: left;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    background: green;
    cursor: pointer;
  }

  .grid > .snake {
    background: pink;
  }

  .grid > .apple {
    background: red;
  }